@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  font-smooth: always;
}

html, body {
  padding: 0;
  margin: 0;
  font-smooth: always;
}


.mask-gradient-blur {
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
}